*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 1720px;
	margin: 0 auto;
	overflow: hidden;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	height: 105px;
	align-items: center;
}

.header__text {
	margin-right: auto;
	margin-left: 30px;
	color: #9a9a9a;
}

.header__phone {
	font-weight: 500;
	font-size: 20px;
}

.header__phone a {
	color: #303030;
	text-decoration: none;
	position: relative;
}

.header__phone a::before {
	content: "";
	position: absolute;
	background-image: url('../images/phone-call.svg');
	width: 16px;
	height: 16px;
	left: -26px;
	top: 5px;
	color: green;
}

.header__phone-text {
	font-weight: 400;
	color: #9a9a9a;
	font-size: 12px;
	text-align: right;
	margin-top: 5px;
}

/* ----- <section class="top"> ---- */

.top {
	margin-bottom: 95px;
}

.top__images {
	background-image: url('../images/background.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1720px;
	width: 100%;
	min-height: 545px;
	margin: 0 auto;
}

.top__wrapper {
	margin-top: -440px;
}

.top__inner {
	display: flex;
	justify-content: space-between;
}

.top__inner-img {
	margin-left: 125px;
}

.top__inner-form {
	max-width: 570px;
	width: 100%;
}

.top__inner-suptitle {
	margin-top: 70px;
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
}

.top__inner-title {
	font-size: 60px;
	margin-bottom: 40px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 40px;
}

.top__inner-text {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 85px;
}

.top-form {
	background-color: #fff;
	padding: 20px;
}

.top-form form {
	border: 1px solid #c8dcba;
	position: relative;
}

.top-form__inner {
	padding: 50px 50px 120px 50px;
}

.top-form__title {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #303030;
	font-weight: 700;
	max-width: 190px;
	width: 100%;
	height: 40px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.top-form input {
	padding: 14px 0px;
	border: none;
	border-bottom: 1px solid #c8dcba;
	outline: none;
	font-size: 14px;
	color: #9a9a9a;
	font-weight: 400;
	width: 195px;
}

.top-form input + input {
	margin-left: 30px;
}

.top-form input::placeholder {
	color: #c8dcba;
	font-weight: 400;
}

.top-form button {
	position: absolute;
	right: 0;
	bottom: 0;
}

.top-form button::after {
	
}

.form__btn {
	padding: 22px 110px 22px 75px;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #7eb252;
	cursor: pointer;
	position: relative;
}

.form__btn::after {
	content: "";
	background-image: url('../images/right-way.png');
	width: 32px;
	height: 10px;
	position: absolute;
	right: 60px;
	top: 25px;
}

/* ---- <section class="advantages"> ---- */

.advantages {
	margin-bottom: 100px;
}

.advantages__inner {
	display: flex;
	justify-content: space-around;
}

.advantages__item {
	width: 230px;
	height: 170px;
	padding-left: 40px;
	padding-top: 35px;
	position: relative;
}

.advantages__item::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 5px solid rgba(126, 178, 82, .3);
	top: 0;
	left: 0;
}

.advantages__item-number {
	font-size: 18px;
	color: #a4c58c;
	font-weight: 600;
	border-bottom: 3px solid #a4c58c;
	display: inline-block;
	margin-bottom: 20px;
}

.advantages__item-number span {
	font-size: 30px;
	line-height: 24px;
}

.advantages__item-text {
	line-height: 24px;
}

/* ----- <section class="list"> tabs ----- */

.list__tabs {
	margin-bottom: 200px;
}

.list__title {
	font-size: 40px;
	line-height: 50px;
	color: #303030;
	font-weight: 700;
	max-width: 450px;
	width: 100%;
	margin-bottom: 35px;
}

.list__inner {
	display: flex;
	justify-content: space-between;
	background-color: #f6f9f3;
}

.tabs {
	padding-right: 20px;
	max-width: 650px;
	width: 100%;
	position: relative;
}

.tabs::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 275px;
	background-color: #f6f9f3;
	right: 100%;
	top: 0;
}

.tab {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 18px;
	color: #303030;
	font-weight: 600;
	text-transform: uppercase;
	padding: 20px 0;
	border-bottom: 1px solid #a4c58c;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.tab.active {
	position: relative;
}

.tab.active::after {
	position: absolute;
	content: "";
	right: 15px;
	background-image: url('../images/shotArrow-to-right.png');
	width: 8px;
	height: 13px;
	background-color: transparent;

	/* text-align: center;
	vertical-align: center; */
}

.tab span {
	color: #a4c58c;
	margin-right: 18px;
	margin-left: 12px;
}

.tabs__content {
	width: 500px;
	height: 667px;
	background-image: url('../images/sceleton.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	top: -135px;
	display: flex;
	flex-direction: column;
}

.tab-item.active-tab {
	display: block;
}

.tab-item {
	display: none;
	font-size: 10px;
	font-weight: 700;
	color: rgba(255, 255, 255, .8);
	width: 43px;
	height: 43px;
	border: 10px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	background-color: #a5c989;
	position: absolute;
	text-align: center;
	line-height: 23px;
}

.item-1 {
	left: 150px;
	top: 180px;
}
.item-2 {
	left: 300px;
	top: 250px;
}
.item-3 {
	left: 228px;
	top: 20px;
}
.item-4 {
	left: 228px;
	top: 150px;
}
.item-5 {
	left: 228px;
	top: 35px;
}
.item-6 {
	left: 195px;
	top: 315px;
}
.item-7 {
	left: 228px;
	top: 120px;
}
.item-8 {
	left: 228px;
	top: 175px;
}
.item-9 {
	left: 260px;
	top: 140px;
}

.tabs__reviews {
	padding: 20px;
	background-color: #f6f9f3;
	max-width: 430px;
	position: absolute;
	bottom:  0;
}

.tabs__reviews-inner {
	border: 1px solid #c5dab5;
	padding: 30px 50px 30px 40px;
}

.tabs__reviews-text {
	color: #303030;
	font-size: 16px;
}

.tabs__reviews-link {
	text-decoration: none;
	color: #7eb152;
	padding-bottom: 1px;
	font-weight: 600;
	padding: 0px 8px;
	position: absolute;
	bottom: 13px;
	background-color: #f6f9f3;
}

.list__link {
	width: 500px;
	height: 70px;
	background-color: #7eb252;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	float: right;
	top: -70px;
	cursor: pointer;
}

.list__link a {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	outline: none
}

.list__link::after {
	content: "";
	background-image: url('../images/right-way.png');
	width: 32px;
	height: 10px;
	position: absolute;
	right: 70px;
	top: 30px;
}

/* --- <section class="popular"> --- */

.popular {
	margin-bottom: 200px;
}

.popular__wrapper {
	background-image: url('../images/popular.jpg');
	min-height: 645px;
	background-repeat: no-repeat;
	background-size: 51%;
}

.popular__inner {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 594px;
}

.popular__box {
	background-color: #fff;
	padding: 20px;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end; */
	max-width: 580px;
	width: 100%;
	height: 230px;
	margin-right: 40px;
	margin-left: 20px;
}

.popular__box-text {
	border: 1px solid #c5dab5;
	padding: 25px;
	color: #303030;
	border-bottom: none;
	line-height: 24px;
	color: #303030;
	font-weight: 400;
}

.popular__link {
	width: 540px;
	height: 70px;
	background-color: #7eb252;
	display: flex;
	align-items: center;

}

.popular__box-link {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	position: relative;
}

.popular__box-link::after {
	content: "";
	background-image: url('../images/right-way.png');
	width: 32px;
	height: 10px;
	position: absolute;
	right: -27px;
	top: 27px;
}

.popular__right {
	max-width: 515px;
	width: 100%;
	height: 590px;
}

.popular__right-title {
	font-size: 30px;
	line-height: 30px;
	color: #303030;
	font-weight: 700;
	padding-top: 25px;
	max-width: 475px;
	margin-bottom: 20px;
}

.popular__right-subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 16px;
	color: #303030;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.popular__right-list {
	line-height: 20px;
	color: #303030;
	font-weight: 400;
	list-style: none;
}

.popular__right-list li {
	margin-bottom: 35px;
	padding-left: 35px;
	position: relative;
}
.popular__right-list li:last-child {
	margin-bottom: 0;
}

.popular__right-list li::before {
	position: absolute;
	content: "";
	background-image: url('../images/shotArrow-to-right.png');
	width: 8px;
	height: 13px;
	left: 5px;
	background-color: transparent;
	top: 50%;
	transform: translateY(-50%);
}

/* --- section class="history" --- */
.history {
	margin-bottom: 70px;
}

.history__wrapper {
	background-image: url('../images/alonso.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 50%;
	min-height: 921px;
}

.history__inner {
	width: 664px;
	padding-top: 90px;
}

.history__title {
	font-size: 36px;
	line-height: 50px;
	color: #303030;
	font-weight: 700;
	margin-bottom: 50px;
}

.history__text {
	font-size: 14px;
	max-width: 630px;
	width: 100%;
	min-height: 420px;
	padding: 35px 25px 40px 0;
	background-color: #f6f9f3;
	position: relative;
}

.history__text::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: #f6f9f3;
	right: 100%;
	top: 0;
}

.history__text p {
	line-height: 24px;
	color: #303030;
	margin-bottom: 15px;
}

.history__text p:last-child {
	margin-bottom: 0;
}

.history__form {
	max-width: 400px;
	width: 100%;
	height: 220px;
	margin-top: 20px;
	padding-left: 30px;
	margin-left: 155px;
}

.history__form-title {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #303030;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-right: 30px;
}

.history__form input {
	border: none;
	outline: none;
	height: 25px;
	border-bottom: 1px solid #cddcbc;
	font-size: 14px;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.history__form input::placeholder {
	color: #a8c48c;
}

.history__form button {
	width: 100%;
}

/* --- section class="quote" --- */
.quote {
	margin-bottom: 40px;
	min-height: 620px;
	background-image: url('../images/quote-bg-left.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: left center;
}

.quote__wrapper {
	background-image: url('../images/quote-bg-right.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right center;
	min-height: 620px;
	padding-top: 130px;
}

.quote__inner {
	max-width: 780px;
	width: 100%;
	height: 330px;
	padding: 50px 0;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #a4c58c;
	border-top: 1px solid #a4c58c;
}

.quote__inner p {
	width: 775px;
	height: 161px;
	font-size: 24px;
	line-height: 40px;
	color: #303030;
	font-weight: 700;
	text-align: center;
	margin-bottom: 45px;
}

.autor {
	font-size: 18px;
	line-height: 30px;
	color: #303030;
	text-align: center;
}

.autor span {
	color: #a8c48c;
}